# Default values for job.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: aliaksxssv/attack-simulation
  tag: "latest"
  imagePullPolicy: Always
  imagePullSecret: ""

labels:
  app: attack-simulation

command: ["/bin/bash"]
args:
  - "/opt/mitre/simulate.sh"
env: []

resources: 
  limits:
    cpu: 100m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 256Mi

securityContext: 
  privileged: true  # Set to true to enable privileged mode

annotations: {}
restartPolicy: Never
backoffLimit: 3
nodeSelector: {}
tolerations: []

serviceAccount:
  create: false
  name: ""
  annotations: []

clusterRole:
  name: ""

clusterRoleBinding:
  name: ""

volume:
  mountPath: ""

configMap:
  config: {}

secrets:
  AWS_ACCESS_KEY_ID: ""
  AWS_SECRET_ACCESS_KEY: ""
  AWS_REGION: ""
